// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #4D648D;
$secondary : #ffffff;
$accent    : #D0E1F9;

$dark      : #000000;

$positive  : linear-gradient(95.04deg, #C6AAFD 13.09%, #EBC1FF 43%, #F1A8F3 62.98%, #89EAF3 92.52%);
$negative  : linear-gradient(180deg, #C6AAFD 0%, #89EAF3 134%), linear-gradient(180deg, #65B5E1 0%, #2F496E 151.5%);
$info      : #29f700;
$warning   : #fd0101;
